// Home specific styles
.home {
  background-color: $brand-color;
}
//SECTION NOTE
.sectionNotes{
  background-color:#ecf0f1; 
  height: 100vh;
}
.sectionNotes__paragraph{
  margin: 0px 0px 0px 0px;
  padding: 0.5rem;
}
//NAV NOTE 1
.navNote{
  background-color:#e74c3c; 
  border-radius: 0;
  //margin: 1rem;
}
.navNote__image{
  width: 3rem;
  height: 4rem;
  margin: 0px;
}

  .navNote__image:hover {
  width: 4rem;
  height: 4rem;
  margin: 0px;
}

.navNote__button{
  background-color: transparent;
  border: 0px;
  margin: 0rem 1rem 0rem 1rem;
}
.navNote__input{
    width: 17rem;
    margin: 0rem 1rem 0rem 1rem;
}
.navNote__list{
  list-style: none;
  padding: 0px;
}
button:focus {
  outline:0;
}
textarea:focus, input:focus{
    outline: none;
}
//NAV NOTE 2
.navEditor{
  background-color:#e67f74;
  border-radius: 0; 
}
//TEXT AREA
.textArea{
    background-color:#fff;
    height: 100vh;
    font-weight: 100%
}
//cambiarlo, es para que np queden espacios en blanco
.col-md-12, .col-md-1, .col-md-3{
  padding: 0px; 
}
.navbar-nav{
  margin: 1rem;
}
.navbar{
  margin: 0px;
}
//NAV BAR
.navBar{
  background-color:#ffbbbc; 
  height: 100vh;
  border-radius: 0;
}
.nav-item{
  list-style: none;
}
.navBar__button{
  background-color: transparent;
  border: 0px;
  margin: 0px;
  padding: 0;
}
.navBar__image{
  width: 3rem;
  height: 4rem;
  margin: 0px;
}

.navBar__image:hover {
  width: 4rem;
  height: 4rem;
  margin: 0px; 
}

