// Home specific styles
.home {
  background-color: $brand-color;
}
//SECTION NOTE
.sectionNotes{
  background-color:#ecf0f1; 
  height: 100vh;
}

.sectionNotes__notes{
  border-bottom: 2px solid #DBDBDD;
  margin: 1rem;
  cursor: hand;
  
}
/*
.sectionNotes__paragraph{
  margin: 10px 10px 3px 10px;
  padding: 0.5rem;
  text-align: justify;
}*/
.sectionNotes__button {
  background-color: transparent;
  border: 0px;
  margin: 0rem 1rem 0rem 1rem;
}
.sectionNotes__image {
  width: 3rem;
  height: 4rem;
  margin: 0px;
}
//NAV NOTE
.navNote{
  background-color:#e74c3c; 
  border-radius: 0;
}
.navNote__image{
  width: 2.5rem;
  height: 3.5rem;
  margin: 0px;
}
.navNote__image:hover {
  width: 3rem;
  height: 4rem;
  margin: 0px;
}
.navNote__button{
  background-color: transparent;
  border: 0px;
  margin: 0rem 1rem 0rem 1rem;
}
.navNote__input{
    width: 17rem;
    margin: 0rem 1rem 0rem 1rem;
    cursor: hand;
}
.navNote__list{
  list-style: none;
  padding: 0px;
}
//NAV EDITOR
.navEditor{
  background-color:#e67f74;
  border-radius: 0; 
}
.navEditor__image{
  width: 1.7rem;
  height: 2.2rem;
  margin: 0px;
  cursor: default;
}
.navEditor__image:hover {
  width: 1.7rem;
  height: 2.2rem;
  margin: 0px;
  cursor: default;
}

.navEditor__button{
  cursor: default;
  background-color: transparent;
  border: 0px;
  margin: 0rem 1rem 0rem 1rem;
}
.navEditor__list{
  list-style: none;
  padding: 0px;
}
.navEditor__dropdown{
  width: 17rem;
  height: 4.5vh;
  border-radius:4px;
  margin: 0rem 1rem 0rem 1rem;
  cursor: hand;

}
//TEXT AREA
.textArea{
  background-color:#fff;
  height: 100vh;
  font-weight: 100%
}
.textArea__input{
  width: 100%;
  border: none;
}
//!!cambiarlo, es para que np queden espacios en blanco
.col-md-12, .col-md-1, .col-md-3{
  padding: 0px; 
}
.row{
  padding-bottom: 0.5rem;
}
//!!
.navbar-nav{
  margin: 1rem;
}
.navbar{
  margin: 0px;
}
//NAV BAR
.navBar{
  background-color:#ffbbbc; 
  height: 100vh;
  border-radius: 0;
}
.nav-item{
  list-style: none;
}
.navbar__list {
  padding: 10rem;
}
.navBar__button{
  background-color: transparent;
  border: 0px;
  margin: 0px;
  padding: 2rem;
}
.navBar__image{
  width: 8rem;
  height: 6rem;
  margin: 0px;;
}
.navBar__image:hover {
  width: 8rem;
  height: 7rem;
  margin: 0px; 
}
.sectionNotes__form > input {
  float: left;
}
.sectionNotes__form > button {
  margin: 1rem 1rem 0 1rem;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1rem 1rem 0 1rem;
    width: 70%;
}
.btn {
  background-color: transparent;
  font-size: $text-size;
}
.btn:hover {
  background-color: #E5E5E8;
}
//FIRULINES
.sectionFile{
  background-color:#ffbbbc;
  top: 35vh;
  left: -40%;
  width: 30rem;
  position: absolute;
  z-index: 2;
  border-radius: 3px;
  border: 1px;
  border-color: #E5E5E8;
  -webkit-transition: ease 2s;
  transition: ease 2s;
  text-align: center;
  border: 1px solid #e6c6c7;
}
.navsectionFile__image{
  width: 1.5rem;
  height: 2rem;
  margin: 0px;
  margin: 0rem 1rem 0rem 0rem;

}
.navsectionFile__image:hover {
  width: 2rem;
  height: 2.5rem;
  //margin: 0px;
}
.navsectionFile__button{
  background-color: transparent;
  border: 0px;
  margin: 1rem;
}
.notebooksList{
  list-style-type: none;
  border-top: 1px solid #e6c6c7;
  border-bottom: 1px solid #e6c6c7;

}
.sectionFiles__input{
  width: 100%;
  margin: 1rem 1rem 0 1rem;
}

.sectionFile__list__li{
  background-color: #ffbbbc;
  color: black;
  border-color: transparent;
}

h2 {
  color:#947f7f;
  margin: 0;
  width: 65%;
  display: inline-block;
  float: left;
}
body{
  height: 100vh;
  overflow: hidden;
}
ul, ol {
  margin: 0;
  padding: 1rem 0 0 1rem;
}
button:focus {
  outline:0;
}
textarea:focus, input:focus{
    outline: none;
}